<body>
    <div class="work-header">
        <h1>Mother's Day Surprise </h1>
        <div class="descript-text">
            We all want to do something special for our moms on mother's day.
            So instead of a card why not give her a website telling a story
            about you and her together.
        </div>
    </div>
    <div class="mother-hero">
<h3>Mother's Day</h3>
</div>

<div class="container-fluid">
<div class="row project-descript">
    <div class="col-sm-12">
        <p class="info-text">
            The Mother's Day surprise website is a cool idea if you want to give
            your mom something different. You can tell your story about you and her together,
            a story she can pull up on her phone at any time. She will be able to show
            everyone how awesome you are!

        </p>
    </div>
</div>
<div class="underline"></div>
<!-- <div class="row">
    <div class="col-sm-6 col-md-6 gutter">
        <img src="assets/img/photography1.jpg" class="project-img">
    </div>
    <div class="col-sm-6 col-md-6 gutter">
        <img src="assets/img/photography2.jpg" class="project-img">
    </div>
    <div class="col-sm-6 col-md-6 gutter">
        <img src="assets/img/photography3.jpg" class="project-img">
    </div>
    <div class="col-sm-6 col-md-6 gutter">
        <img src="assets/img/photography4.jpg" class="project-img">
    </div>
    <div class="col-sm-6 col-md-6 gutter">
        <img src="assets/img/photography5.jpg" class="project-img">
    </div>
    <div class="col-sm-6 col-md-6 gutter">
        <img src="assets/img/photography6.jpg" class="project-img">
    </div>
</div> -->
</div>



</body>
