<body>
        <div class="work-header">
            <h1>Personal Trainer </h1>
            <div class="descript-text">
                We created a website for a personal trainer that showed
                    what he offered to his clients. We saw how popular online coaches
                    are and decided to create a template for other trainers that want a website.
            </div>
        </div>
        <div class="personal-hero">
    <h3>Personal Trainer</h3>
</div>

<div class="container-fluid">
    <div class="row project-descript">
        <div class="col-sm-12">
            <p class="info-text">
                The personal trainer template is free for anyone. You can grab all the code
                from our github page. If you aren't a code ninji and know how to customize in
                shoot us an email and we can tweak it for a small fee.

            </p>
        </div>
        <div class="col-sm-12 project-visit">
            <a href="https://github.com/alphacoredesign/Personal-Trainer-Template" target="_blank">
                <button>Code</button>
            </a>
        </div>
    </div>
    <div class="underline"></div>
    <!-- <div class="row">
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography1.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography2.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography3.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography4.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography5.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography6.jpg" class="project-img">
        </div>
    </div> -->
</div>
</body>
