<body>
    <div class="work-header">
        <h1>Photography Co. </h1>
        <div class="descript-text">
            Photography Co. is a website we built for photography and
            design studios. We wanted to create something that we
            we thought would help get startup studios off the ground.
        </div>
    </div>
    <div class="photography-hero">
<h3>Photography Co.</h3>
</div>

<div class="container-fluid">
<div class="row project-descript">
    <div class="col-sm-12">
        <p class="info-text">
            Photography Co. was a fun project to work on because we love having
            fantastic photos to work with. We loved it so much here at AlphaCore that
            we made it one of our free templates for all the other photography and design
            studios looking to step up there online presence.

        </p>
    </div>
    <div class="col-sm-12 project-visit">
        <a href="https://github.com/alphacoredesign/Photography-Template" target="_blank">
            <button>Code</button>
        </a>
    </div>
</div>
<div class="underline"></div>
<!-- <div class="row">
    <div class="col-sm-6 col-md-6 gutter">
        <img src="assets/img/photography1.jpg" class="project-img">
    </div>
    <div class="col-sm-6 col-md-6 gutter">
        <img src="assets/img/photography2.jpg" class="project-img">
    </div>
    <div class="col-sm-6 col-md-6 gutter">
        <img src="assets/img/photography3.jpg" class="project-img">
    </div>
    <div class="col-sm-6 col-md-6 gutter">
        <img src="assets/img/photography4.jpg" class="project-img">
    </div>
    <div class="col-sm-6 col-md-6 gutter">
        <img src="assets/img/photography5.jpg" class="project-img">
    </div>
    <div class="col-sm-6 col-md-6 gutter">
        <img src="assets/img/photography6.jpg" class="project-img">
    </div>
</div> -->
</div>

</body>
