<body>    
<div class="work-header">
            <h1>Raw Complextions</h1>
            <div class="descript-text">
                We were tasked with creating two Videoss for Raw Complextions. There site
                already had a clean / elegant design to it and we wanted to keep with that look.
            </div>
        </div>
        <div class="raw-hero">
    <h3>Raw Complextions</h3>
</div>

<div class="container-fluid">
    <div class="row project-descript">
        <div class="col-sm-12">
            <p class="info-text">
                We are an Australian beauty brand, formulated by skin specialist Maddison Osburn and accredited nutritionist Kristina Temelkovski, focusing on bringing you best of inner and outer beauty. Our aim is to bring you the key essential beauty and skin-care products every woman needs to have a healthy radiant complexion.

            </p>
        </div>
        <div class="col-sm-12 project-visit">
            <a href="http://www.raw-complexions.com.au/#rawcomplexions" target="_blank">
                <button>Visit</button>
            </a>
        </div>
    </div>
    <div class="underline"></div>
    <!-- <div class="row">
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography1.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography2.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography3.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography4.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography5.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography6.jpg" class="project-img">
        </div>
    </div> -->
</div>
</body>
