<body>

<div class="work-header">
            <h1>Student Portfolio</h1>
            <div class="descript-text">
                Finding that first job out of college can be tough. You have
                to make yourself stand out from the pack. One way to do that is
                to show your awesomeness online.
            </div>
        </div>
        <div class="student-hero">
    <h3>Student Portfoio</h3>
</div>

<div class="container-fluid">
    <div class="row project-descript">
        <div class="col-sm-12">
            <p class="info-text">
                Having an online presence is becoming more and more popular in
            our tech savy world. A resume you send to future employers is plain, it
            doesn't stand out and show you off. So we created the student portfolio
            to tell your story and showcase how awesome you are.
            Don't be shy, shoot us an email to find out more.

            </p>
        </div>
        <div class="col-sm-12 project-visit">
            <a href="https://github.com/alphacoredesign/Student-Portfolio" target="_blank">
                <button>Code</button>
            </a>
        </div>
    </div>
    <div class="underline"></div>
    <!-- <div class="row">
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography1.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography2.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography3.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography4.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography5.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography6.jpg" class="project-img">
        </div>
    </div> -->
</div>
</body>
