<body>
        
        <div class="work-header">
            <h1>Texas Pool and Spa</h1>
            <div class="descript-text">
                Texas Pool and Spa is a pool cleaning, repairs, and maintenance business.
                A family business dedicated to your family's fun.
            </div>
        </div>
        <div class="pool-hero">
    <h3>World Travelers</h3>
</div>

<div class="container-fluid">
    <div class="row project-descript">
        <div class="col-sm-12">
            <p class="info-text">
                Our message is crystal clear: Texas Pool & Spa can change your pool experience from hum-drum maintenance to full-time fun!
                If you live in Plano, Allen, McKinney, Murphy or southwest Collin County, Texas Pool & Spa can keep you in the swim of things with high-quality pool cleaning and maintenance services

            </p>
        </div>
        <div class="col-sm-12 project-visit">
            <a href="http://txpoolandspa.com/" target="_blank">
                <button>Visit</button>
            </a>
        </div>
    </div>
    <div class="underline"></div>
    <!-- <div class="row">
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography1.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography2.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography3.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography4.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography5.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography6.jpg" class="project-img">
        </div>
    </div> -->
</div>
</body>
