<body>
    <div class="work-header">
        <h1>Wedding Template </h1>
        <div class="descript-text">
            Weddings are magical moments were two people who have fallen
                        in love commit to each other for the rest of their lives. We created
                        a website to share these magical moments with all their loved ones.
        </div>
    </div>
    <div class="wedding-hero">
<h3>Personal Trainer</h3>
</div>

<div class="container-fluid">
<div class="row project-descript">
    <div class="col-sm-12">
        <p class="info-text">
            We created the wedding template for all the couples out there, so they can
            have a beautiful website to share the big day with all there loved ones. The code
            for the wedding template is free plus AlphaCore will set it up on a server for you.
            It is our way of saying congrats!!

        </p>
    </div>
    <div class="col-sm-12 project-visit">
        <a href="https://github.com/alphacoredesign/Wedding-Template" target="_blank">
            <button>Code</button>
        </a>
    </div>
</div>
<div class="underline"></div>
<!-- <div class="row">
    <div class="col-sm-6 col-md-6 gutter">
        <img src="assets/img/photography1.jpg" class="project-img">
    </div>
    <div class="col-sm-6 col-md-6 gutter">
        <img src="assets/img/photography2.jpg" class="project-img">
    </div>
    <div class="col-sm-6 col-md-6 gutter">
        <img src="assets/img/photography3.jpg" class="project-img">
    </div>
    <div class="col-sm-6 col-md-6 gutter">
        <img src="assets/img/photography4.jpg" class="project-img">
    </div>
    <div class="col-sm-6 col-md-6 gutter">
        <img src="assets/img/photography5.jpg" class="project-img">
    </div>
    <div class="col-sm-6 col-md-6 gutter">
        <img src="assets/img/photography6.jpg" class="project-img">
    </div>
</div> -->
</div>

</body>
