<body>
        <div class="work-header">
            <h1>World Travelers</h1>
            <div class="descript-text">
                This was a little different for us, we usually create things on computers.
                But we believe it is good to branch out and grow, so we created this for a young adventuring couple.
            </div>
        </div>
        <div class="traveler-hero">
    <h3>World Travelers</h3>
</div>

<div class="container-fluid">
    <div class="row project-descript">
        <div class="col-sm-12">
            <p class="info-text">
                We usually do our crafting on computers designing websites, logos, ect.
                However, when we were offered this opportunity we decided to branch out of our
                comfort zone and do it. This young couple has a goal to travel the world and visit
                as many places as they can. We decided to create something simple and elegant that would
                showcase their adventures.

            </p>
        </div>
    </div>
    <div class="underline"></div>
    <!-- <div class="row">
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography1.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography2.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography3.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography4.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography5.jpg" class="project-img">
        </div>
        <div class="col-sm-6 col-md-6 gutter">
            <img src="assets/img/photography6.jpg" class="project-img">
        </div>
    </div> -->
</div>
</body>
