<body>
        <div class="contact-header">
            <h1>Want to chat with us?</h1>
        </div>

        <div id="contact-page">
            <h2>Shoot us an Email!</h2>
            <div class="underline"></div>
            <a href="mailto:alphacoredesign@gmail.com?Subject=New%20Business" target="_top">
                <div class="email-wrapper">
                    <h3>alphacoredesign@gmail.com</h3>
                </div>
            </a>
            <div class="contact-img">
                <img src="images/wolf.jpg" height="50px" width="45px">
            </div>
        </div>
</body>
