<body>
        <div class="header-home">
            <div class="landingpage-title">
                <img src="images/wolf.jpg" class="brand-img" width="120px" height="135px">
                <span class="landing-title">Alpha<strong class="dev">Core</strong></span>
            </div>
            <div class="intro-text">
                <h1>We Make The Complex <span class="gold-text">Simple</span>.</h1>
            </div>
            <div class="faint-text">
                <h2>A Digital Creative Agency</h2>
            </div>
            <!-- <div class="buttons">
                <div class="Videos-btn">
                    <a href="videos.html">
                        <button>Videos</button>
                    </a>
                </div>
                <div class="work-btn">
                    <a href="work.html">
                        <button>Work</button>
                    </a>
                </div>
                <div class="email-btn">
                    <a href="contact.html">
                        <button>Email Us</button>
                    </a>
                </div>
            </div> -->
        </div>


    </body>
