<body>
        <div class="work-header">
            <h1>We move quickly from talking to doing.</h1>
        </div>

        <div class="wrapper">
            <div class="price-col">
                <h2>Basic Plan</h2>
                <ul>
                    <li>4 Pages</li>
                    <li>Domain Name</li>
                    <li>Store with 1 item</li>
                    <li>1 mockup / 1 revision</li>
                    <li>-</li>
                    <li>-</li>
                    <li>-</li>
                </ul>
            </div>
            <div class="price-col">
                <h2>Business Plan</h2>
                <ul>
                    <li>6 Pages</li>
                    <li>Domain Name</li>
                    <li>Store with 20 item</li>
                    <li>Google Analytics</li>
                    <li>Search Engine Optimization</li>
                    <li>1 mockup / 1 revision</li>
                    <li>-</li>
                </ul>
            </div>
            <div class="price-col">
                <h2>Custom Plan</h2>
                <ul>
                    <li>6+ Pages</li>
                    <li>Domain Name</li>
                    <li>Developed from Scratch</li>
                    <li>Google Analytics</li>
                    <li>Search Engine Optimization</li>
                    <li>Site Maintenance</li>
                    <li>1 mockup / 3 revision</li>
                </ul>
            </div>
        </div>
<!-- EXTRA PRICE PAGE FEATURES -->
        <div class="container-fluid extra-group">
            <div class="row">
                <div class="col-sm-12 extra-title">
                    <h2>We also offer</h2>
                </div>
            </div>
            <div class="row extra-wrapper">
                <div class="col-xs-12 col-sm-6 pkg-Container">
                    <h3 class="pkg-title-extra"> Resume Sites</h3>
                    <p class="pkg-item-text">
                        We can create an online portfolio to help you find that new job.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 pkg-Container">
                    <h3 class="pkg-title-extra">Graphic Design</h3>
                    <p class="pkg-item-text">
                        We focus on clean elegant graphics including logos, banners, and flyers.
                    </p>
                </div>
            </div>
            <div class="row extra-wrapper">
                <div class="col-sm-6 pkg-Container">
                    <h3 class="pkg-title-extra">PSD Mockups</h3>
                    <p class="pkg-item-text">
                        Have a website idea? We can create a psd mockup before you dive into
                        the development phase.
                    </p>
                </div>
                <div class="col-sm-6 pkg-Container">
                    <h3 class="pkg-title-extra">Site Maintenance</h3>
                    <p class="pkg-item-text">
                        We offer site maintenance where we maintaine your site and make sure it is opperating
                        at peak performance.
                    </p>
                </div>
            </div>
        </div>

    </body>
