<body>
        
        <div class="work-header">
            <h1>We create an amazing experience for every screen.</h1>
        </div>

        <!-- START OF WORK PORTFOLIO SECTION -->
<div id="work-portfolio">
    <div class="container-fluid no-gutter">
        <div class="row image-1">
<!-- Texas Pool and Spa            -->
            <a href="txpoolspa.html">
                <div class="col-md-4 col-sm-6 no-gutter">
                    <div class="img-fade">
                        <h3>Texas Pool & Spa</h3>
                    </div>
                    <img  src="images/txpoolspa.jpg" class="img-responsive port-img">
                </div>
            </a>
<!-- Texas Pool and Spa            -->
            <a href="rawcomplextions.html">
                <div class="col-md-4 col-sm-6 no-gutter">
                    <div class="img-fade">
                        <h3>Raw Complexions</h3>
                    </div>
                    <img  src="images/rawcomplexions.jpg" class="img-responsive port-img">
                </div>
            </a>
<!-- GALLERIA ON 3RD -->
            <a href="http://www.galleriaonthird.com/">
                <div class="col-md-4 col-sm-6 no-gutter">
                    <div class="img-fade">
                        <h3>Galleria on 3rd</h3>
                    </div>
                    <img src="images/galleria-clean.jpg" class="img-responsive port-img">
                </div>
            </a>
<!-- World Travelers            -->
            <a href="world-travelers.html">
                <div class="col-md-4 col-sm-6 no-gutter">
                    <div class="img-fade">
                        <h3>World Travelers</h3>
                    </div>
                    <img  src="images/world-travelers.jpg" class="img-responsive port-img">
                </div>
            </a>
<!-- STUDENT PORTFOLIO -->
            <a href="student-port.html">
                <div class="col-md-4 col-sm-6 no-gutter">
                    <div class="img-fade">
                        <h3>Student Portfolio</h3>
                    </div>
                    <img  src="images/darkosulogo.jpg" class="img-responsive port-img">
                </div>
            </a>
<!-- PHOTOGRAPHY CO -->
            <a href="photography-co.html">
                <div class="col-md-4 col-sm-6 no-gutter">
                    <div class="img-fade">
                        <h3>Photography Co.</h3>
                    </div>
                    <img src="images/headerImage.jpg" class="img-responsive port-img">
                </div>
            </a>
<!-- PERSONAL TRAINER -->
            <a href="personal-trainer.html">
                <div class="col-md-4 col-sm-6 no-gutter">
                    <div class="img-fade">
                        <h3>Personal Trainer</h3>
                    </div>
                    <img src="images/fitnessHeroImage.jpg" class="img-responsive port-img">
                </div>
            </a>
<!-- WEDDING TEMPLATE -->
            <a href="wedding-template.html">
                <div class="col-md-4 col-sm-6 no-gutter">
                    <div class="img-fade">
                        <h3>The Wedding</h3>
                    </div>
                    <img  src="images/locationImage.jpg" class="img-responsive port-img">
                </div>
            </a>
<!-- MOTHERS DAY SITE -->
            <a href="mothers-day.html">
                <div class="col-md-4 col-sm-6 no-gutter">
                    <div class="img-fade">
                        <h3>Mother's Day Surprise</h3>
                    </div>
                    <img  src="images/flowers.jpg" class="img-responsive port-img">
                </div>
            </a>

        </div>
    </div>

    </body>
